body {
  height: 100vh;
}

.contact {
  display: grid;
  justify-content: center;
}

.address {
  display: grid;
  justify-content: left;
  margin: 1%;
  padding: 2%;
  background-color: blanchedalmond;
}

.footer {
  margin-top: auto;
}