.menu {
  
}

.menu__header {}

.menu__content {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}

.list {
  width: 60%;
  border: 0.2rem solid black;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: left;
  height: 12rem;
  padding: 1%;
}

.card__image {
  height: 100%;
  width: 16rem;
}

.card__content {
  height: 100%;
  padding: 2%;
}

.card__name {}

.card__description {}