.menu {
  
}

.menu__header {}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 10%;
}

.card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  width: 16rem;
}

.card__image {
  height: 12rem;
  width: 16rem;
}

.card__name {}

.card__description {}